* {
    box-sizing: border-box;
}

*:focus {
    outline:none;
}

.app {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 20px;
}

.date-input_wrapper,
.distance-input_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 40px;
}

label {
    display: block;
    margin-bottom: 10px;
}

#dataId, #distanceId {
    display: block;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
}

button {
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid black;
    cursor: pointer;
}

.table-wrapper {
    width: 600px;
    border-collapse: collapse;
    border: 1px solid black;
}

.thead th:nth-child(1) {
    width: 55%;
}

thead th:nth-child(2) {
    width: 35%;
}

thead th:nth-child(3) {
    width: 15%;
}

th, td {
    padding: 20px;
    border: 1px solid black;
    text-align: center;
}

.cursor {
    cursor: pointer;
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
